bin/
Debug/
Release/
*.ncb
*.raw
*.bmp
/cpp/Pixis/Pixis/nbproject/private/
/cpp/Pixis/PixisTest/nbproject/private/
/java/PixisClient/nbproject/private/
/java/PixisClient/build/
/java/PixisClient/dist/
/java/PixisClientTest/nbproject/private/
/java/PixisClientTest/build/
/java/PixisClientTest/dist/
/java/Pixis/nbproject/private/
/java/Pixis/build/
/java/Pixis/dist/
/java/PixisTest/nbproject/private/
/java/PixisTest/build/
/java/PixisTest/dist/
/java/PixisServer/nbproject/private/
/java/Pixis/nbproject/private/
/java/PixisClient/nbproject/private/
/java/PixisClientTest/nbproject/private/
/java/PixisTest/nbproject/private/
/java/PixisServer/build/
/java/PixisServer/dist/
/java/PixisServant/nbproject/private/
/java/PixisServant/build/
/java/PixisServant/dist/
/cpp/Pixis/Pixis/build/
/cpp/Pixis/Pixis/dist/
/cpp/Pixis/PixisTest/build/
/cpp/Pixis/PixisTest/dist/
/cpp/Pixis/Pixis_JNI/Pixis_JNI/build/
/cpp/Pixis/Pixis_JNI/Pixis_JNI/dist/